<launch>
    <!-- Start ROS communication between the robot's computer and Mobi_robot base -->
    <node pkg="rosserial_python" name="rosserial_mobi" type="serial_node.py" output="screen">
        <param name="port" value="/dev/mobibase" />
        <param name="baud" value="57600" />
    </node>

    <!-- IMU relay from mobi_robot_msgs/Imu to sensor_msgs/Imu -->
    <node pkg="mobi_imu_cal" type="apply_calib" name="apply_calib" output="screen" respawn="false">
        <param name="calib_file" value="$(find mobi_robot)/param/imu/imu_calib.yaml" />
    </node>

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="fixed_frame" value="odom" />
        <param name="use_mag" value="true" />
        <param name="publish_tf" value="true" />
        <param name="use_magnetic_field_msg" value="true" /> 
        <param name="world_frame" value="enu" />
    </node>

    <!-- Publish Mobi_robot odometry -->
    <node pkg="mobi_robot" name="mobi_base_node" type="mobi_base_node"></node>
</launch>
